<!-- BARRA DE NAVEGAÇÃO -->
<header class="">
  <div class="mt-4 ms-5 titulo">Olá, Dell technologies</div>
  <div class="barra-superior ms-6"></div>
</header>




<!-- Left side home -->
 <div class="right-side-home">

  <!-- CARD -->
  <h5 class="card-title"> Estatisticas </h5>
   <div class="d-flex justify-content-right">
       <div class="card border-light mb-3" style="max-width: 18rem;">
         <div class="card-body">
           <p> <span> 5 </span> de <span> 10 </span> computadores livres </p>
           <p> <span> 5 </span> de <span> 10 </span> laboratórios livres </p>
           <p> <span> 5 </span> de <span> 10 </span> salas livres </p>
         </div>
       </div>
   </div>
  
   <!-- Calendário --> 
  <h5 class="card-title"> Reservas por dia </h5>

   <div class="d-flex justify-content-right calendario-exemplo">
       <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
           <p> calendario  </p>
         </div>
       </div>


       
 </div>

 <div class="action-button">
   <!-- Criação de notebook e reserva -->
   <button class="btn btn-primary" type="submit"> Reservar </button>
   <button class="btn btn-primary" type="submit"> Cadastrar Notebook </button>
 </div>
  
  
  <!-- Left side home -->
  <div class="left-side-home">  

    <!-- PESQUISAR E FILTROS -->
    <div class="container ms-5">
      <search> 
        <i class="fa-solid fa-magnifying-glass" style="color: #007db8;"></i>
      </search>
    </div>

    <!-- TABELA -->
    <table class="table table-bordered table-striped text-center">
      <tr>
        <th>Reservado</th>
        <th>Data</th>
        <th>Confirmação</th>
        <th>Local</th>
      </tr>
    <tbody>
      <tr>
        <td>Ana Silva</td>
        <td>27/08/2025</td>
        <td>Sim</td>
        <td>Sala</td>
      </tr>
      <tr>
        <td>João Santos</td>
        <td>28/08/2025</td>
        <td>Não</td>
        <td>Laboratório</td>
      </tr>
      <tr>
        <td>Maria Oliveira</td>
        <td>29/08/2025</td>
        <td>Sim</td>
        <td>Sala</td>
      </tr>
    </tbody>
  </table>


</div>

