<!-- BARRA DE NAVEGAÇÃO -->
<header class="">
  <div class="mt-4 ms-5 titulo">Olá, Dell technologies</div>
  <div class="barra-superior ms-6"></div>
</header>

<!-- CARDS -->
<div class="row center">
  <div class="col-3">
    <div class="card border-light mb-3" style="max-width: 18rem">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card’s content.
        </p>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card border-light mb-3" style="max-width: 18rem">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card’s content.
        </p>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card border-light mb-3" style="max-width: 18rem">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card’s content.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- PESQUISAR E FILTROS -->
<div class="container ms-5">
  <search> </search>
</div>

<!-- TABELA -->
<div class="container ms-7">
  <table class="table table-striped">
    <tr>
      <td>Teste</td>
      <td>Teste 2</td>
      <td>Teste 2</td>
      <td>Teste 2</td>
      <td>Teste 2</td>
      <td>Teste 2</td>
    </tr>
  </table>
</div>
