/* You can add global styles to this file, and also import other style files */
.titulo {
    font-family: 'Poppins', sans-serif;
    color: #007DB8;
    font-size: 34px;

}

.barra-superior {
  width: auto;
  height: 6px;
  background: #007DB8;
  border-radius: 16px;
}